@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,400;1,300&display=swap");

* {
    font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik Mono One", sans-serif;
}

.italic-light {
    font-weight: 300;
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.navbar-brand {
    color: #f1f1f1;
}

.g-blue {
    color: #4285f4;
}
.o-red {
    color: #db4437;
}
.o-yellow {
    color: #f4b400;
}
.l-green {
    color: #0f9d58;
}
.e-red {
    display: inline-block;
    transform: rotate(-20deg);
}
